<!DOCTYPE html>
<html data-ng-app="app">
<head>

  <title></title>

  <link rel="stylesheet" type="text/css" href="demo/css/main.css"/>

</head>
<body>

  <div data-ng-controller="MainController">
    <h1>Example 1</h1>

    <h2>REACT</h2>
    <div data-component="ex1" data-ng-model="text" data-ctrl="InjectedController"></div>

    <h2>ANGULAR</h2>
    <input type="text" data-ng-model="text" data-ng-change="handleChange()" />
    <p>{{text}}</p>


  </div>

  <hr>

  <div data-ng-controller="NumberController">
    <h1>Example 2</h1>
    <p>Uncomment one of the blocks of code</p>

    <button ng-click="numGen()">Refresh Data</button>

    <hr>


    <!-- REACT -->
    <!--<div data-component="ex2" data-ng-model="numbers"></div>-->


    <!-- ANGULAR -->
    <!--<table>-->
      <!--<tr ng-repeat="number in numbers">-->
        <!--<td>{{number}}</td>-->
      <!--</tr>-->
    <!--</table>-->

  </div>


  <script type="text/javascript" src="lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="lib/react/react.js"></script>

  <script type="text/javascript" src="demo/js/app.js"></script>
  <script type="text/javascript" src="src/nrg.js"></script>
  <script type="text/javascript" src="demo/js/example1.js"></script>
  <script type="text/javascript" src="demo/js/example2.js"></script>

</body>
</html>